* {
    box-sizing: border-box;
}

#content {
    width: auto;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

#logo {
    grid-area: 2 / 4 / span 1 / span 3;
}

.grid-item {
    /*border: 2px solid black;*/
}

#footer-bg {
    background-color: lightslategrey;
    grid-area: 5/1/6/9;
    z-index: 0;
}

.footer-link {
    z-index: 1;
}